@import "../../config/config";

.user-id,
.create-time {
  color: $basic-light-color;
  font-weight: bold;

  &.user-id {
    padding: 0 28px;
  }

  &.create-time {
    padding-left: 1rem;
  }
}

.message-body {
  border-radius: 8px;
  display: inline-block;
  font-size: .9rem;
  font-weight: bold;
  line-height: 24px;
  margin: 5px 20px;
  max-width: 70%;
  padding: 8px 16px;
  position: relative;
  text-align: left;
}

.others-message {
  text-align: left;
  width: 100%;

  .message-body {
    background-color: $other-message-color;
    color: $basic-dark-color;
  }
}

.my-message {
  text-align: right;
  width: 100%;

  .message-body {
    background-color: $basic-green-color;
    color: $basic-light-color;
    cursor: pointer;

    .el-input {
      min-width: 50vw;
    }
  }
}

.message-control-area {
  color: $basic-green-color;
  font-size: 28px;
  font-weight: bold;
  padding: 0 20px;

  .control-icon {
    cursor: pointer;
    margin-right: 16px;

    &:last-child {
      margin: 0;
    }
  }
}
