@import "../../config/config";

.user-id,
.create-time {
  color: $basic-dark-color;
  font-weight: bold;
  padding-left: 20px;
}

.user-id {
  padding-right: 20px;
}

.message-body {
  border-radius: 8px;
  display: inline-block;
  font-weight: bold;
  line-height: 28px;
  margin: 5px 10px;
  max-width: 70%;
  padding: 9px 18px;
  position: relative;
  text-align: left;
}

.others-message {
  text-align: left;
  width: 100%;

  .message-body {
    background-color: $basic-dark-color;
    color: $basic-light-color;
  }
}

.my-message {
  text-align: right;
  width: 100%;

  .message-body {
    background-color: $basic-green-color;
    color: $basic-light-color;
    cursor: pointer;
  }
}

.message-control-area {
  color: $basic-dark-color;
  font-size: 28px;
  font-weight: bold;
  padding: 0 20px;

  .control-icon {
    cursor: pointer;
    margin-right: 16px;

    &:last-child {
      margin: 0;
    }
  }
}
