@import "../config/config";

body {
  background-color: $basic-dark-color;
  margin: 0;
}

.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-white;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
}
