$basic-light-color: #fafafa;
$basic-dark-color: #2c3e50;
$basic-green-color: #41b883;

$color-white: #ffffff;

$chat-area-background-color: #f8fceb;
$other-message-color: #f0f0f0;
$chat-title-color: #40ad7f;
$chat-title-shadow-color: #2e8561;

$google-signin-button: #c6594b;
$facebook-signin-button: #4267b2;
