@import "../../config/config";

.header {
  position: relative;
  background-color: $basic-green-color;
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  text-shadow: 1px 1px 1px $chat-title-shadow-color;

  .sign-out {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 15px;
    top: 7px;
  }
}
