.todo
  el-row
    el-col.task-status-list(
      :xs="24", :sm="12", :md="8", :lg="6", :xl="4",
      v-for="items, index in todoTasks", :key="index")
      .title {{ index }}
      .task-content-area
        draggable.task-group(
          :options="options", :list="items", group="todo-tasks",
          @end="dragEnd()")
          TodoTaskComponent(v-for="item in items", :key="item.task_id", :todoTaskItem="item")
        .task-group-footer
          font-awesome-icon.create-task-icon(:icon="['far', 'plus-square']", @click="addTask(index)")
