.todo
  form(v-show="displayCreateTaskModal", @submit.prevent="addTask()")
    el-row.create-task-modal
      el-col.form-area(:xs="20", :sm="20", :md="16", :lg="13", :xl="11")
        font-awesome-icon.close-form-icon(:icon="['fas', 'times']",
          @click="displayCreateTaskModal = false, selectedTaskStatus = ''")
        .input-area
          .tag Task Title
          el-input(v-model="inputTaskTitle")
        .input-area
          .tag Task Description
          el-input(v-model="inputTaskDescription")
        el-button.submit-button(type="primary", native-type="submit") Create
  el-row
    el-col.task-status-list(
      :xs="24", :sm="12", :md="8", :lg="6", :xl="4",
      v-for="items, status in todoTasks", :key="status")
      .title {{ status }}
      .task-content-area
        draggable.task-group(
          :options="options", :list="items", group="todo-tasks",
          @end="dragEnd()")
          TodoTaskComponent(
            v-for="item, index in items", :key="item.task_id",
            :todoTaskItem="item", :taskStatus="status", :taskIndex="index",
            v-on:deleteTask="deleteTask")
        .task-group-footer
          font-awesome-icon.create-task-icon(:icon="['far', 'plus-square']",
            @click="displayCreateTaskModal = true, selectedTaskStatus = status")
