@import "../../config/config";
@import "../../../node_modules/element-ui/lib/theme-chalk/display.css";

.app-sync {
  margin: auto;

  .app-sync-title {
    background-color: $basic-green-color;
    font-size: 2rem;
    font-weight: bold;
    line-height: 4rem;
    text-shadow: 1px 1px 1px $chat-title-shadow-color;
  }

  .content-area {
    height: calc(100vh - 4rem);
    position: relative;

    .channel-area,
    .user-area {
      margin: 20px auto 0;
      text-align: left;
      width: 90%;

      .parent-category {
        border-bottom: 2px solid $basic-green-color;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 2rem;
      }

      .child-category {
        cursor: pointer;
        font-size: 1.25rem;
        margin: 10px 0;
        padding-left: 2rem;

        &.active {
          font-weight: bold;
        }
      }
    }

    .chat-area {
      background-color: $chat-area-background-color;
      box-sizing: border-box;
      height: calc(100vh - 4rem - 56px);
      overflow-y: hidden;
      position: relative;

      .chat-message-area {
        height: calc(100vh - 4rem - 56px);
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background: #cecece;
          border-radius: 3px;
        }
      }
    }

    .input-mesage-area {
      background-color: $basic-green-color;
      bottom: -56px;
      left: 0;
      line-height: 56px;
      margin: auto;
      position: absolute;
      right: 0;

      .submit-button {
        font-weight: bold;
      }

      .send-message-icon {
        box-sizing: border-box;
        cursor: pointer;
        height: 56px;
        padding-top: 7px;

        img {
          height: 42px;
        }
      }
    }
  }
}
