@import "../../config/config";
@import "../../../node_modules/element-ui/lib/theme-chalk/display.css";

.app-sync {
  margin: auto;

  .content-area {
    height: calc(100vh - 4rem);
    position: relative;

    .user-area {
      border-right: 6px solid $basic-green-color;
      height: calc(100vh - 3rem - 20px);
      margin: auto;
      padding-top: 20px;
      text-align: left;
      width: 90%;

      .parent-category {
        border-bottom: 2px solid $basic-green-color;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 2rem;
      }

      ul {
        list-style: none;
        padding-left: 1rem;

        .child-category {
          font-size: 1.1rem;
          margin: 6px 0;

          &.active {
            font-weight: bold;
          }

          span {
            padding-left: .5rem;
          }

          &::before {
            content: "●";
            color: $basic-green-color;
            padding-right: .5rem;
          }
        }
      }
    }

    .chat-area {
      // background-color: $chat-area-background-color;
      box-sizing: border-box;
      height: calc(100vh - 3rem);
      overflow-y: hidden;
      position: relative;

      .chat-message-area {
        height: calc(100vh - 3rem - 56px);
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-thumb {
          background: #cecece;
          border-radius: 3px;
        }
      }

      .display-form-icon {
        bottom: 10px;
        color: $basic-green-color;
        cursor: pointer;
        font-size: 3rem;
        position: absolute;
        right: 10px;
      }
    }

    .input-mesage-area {
      align-items: center;
      background-color: rgba($basic-dark-color, .5);
      display: flex;
      justify-content: center;
      height: calc(100vh - 4rem);
      position: absolute;
      top: 0;
      width: 100%;

      .form-area {
        background-color: $basic-dark-color;
        border: 1px solid $basic-light-color;
        border-radius: 10px;
        height: 320px;
        padding: 20px 0;
        position: relative;

        .input-area {
          margin: 10px auto;
          width: 80%;

          .tag {
            border-left: 5px solid $basic-green-color;
            color: $basic-light-color;
            font-size: 1.3rem;
            margin: 10px 0 ;
            padding-left: 1rem;
            text-align: left;
          }

          .display-name {
            font-size: 1.5rem;
            padding-left: 2rem;
            text-align: left;
          }

          .el-input {
            font-size: 1rem;
            width: 95%;
          }
        }

        .submit-button {
          font-weight: bold;
          margin-top: 20px;
          width: 30%;
        }

        .close-form-icon {
          cursor: pointer;
          font-size: 2rem;
          position: absolute;
          right: 12px;
          top: 10px;
        }
      }
    }
  }
}
