.app-sync
  .app-sync-title {{ appSyncTitle }}
  .content-area
    el-row
      el-col.hidden-sm-and-down(:md="5", :lg="4", :xl="4")
        .user-area
          .parent-category Users
          ul
            li.child-category(v-for="user in chatUsers", :key="user.user_id" :class="{active: checkMyName(user.user_id)}") {{ user.display_name }}
              span(v-if="checkMyName(user.user_id)") ( You )
      el-col(:xs="24", :sm="24", :md="19", :lg="20", :xl="20")
        el-row
          el-col.chat-area(:span="24")
            .chat-message-area
              MessageBodyComponent(
                v-for="item in chatMessages"
                :key="item.user_id + item.create_time"
                :chatMessage="item"
                :ref="item.create_time")
              #lastChatMessage
            font-awesome-icon.display-form-icon(:icon="['far', 'plus-square']", @click="displayForm()")
    transition(name="el-fade-in-linear")
      form(v-show="displayInputMessageArea", @submit.prevent="createMessage()")
        el-row.input-mesage-area()
          el-col.form-area(:xs="20", :sm="20", :md="16", :lg="13", :xl="11")
            font-awesome-icon.close-form-icon(:icon="['fas', 'times']", @click="displayInputMessageArea = false")
            .input-area
              .tag Display Name
              .display-name {{ displayName }}
            .input-area
              .tag Message
              el-input(v-model="messageBody")
            el-button.submit-button(type="primary", native-type="submit") Send
