@import "../../config/config";

.home {
  position: relative;

  .sign-out {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;

    img {
      width: 100%;
    }
  }
}
