@import "../../config/config";

.auth {
  .loading-layer {
    height: 100vh;
    position: absolute;
    width: 100vw;
    // z-index: 100;

    .el-loading-mask {
      background-color: rgba($basic-dark-color, .7);

      .el-loading-spinner .path {
        stroke: $basic-green-color;
        stroke-width: 4;
      }
    }
  }

  .auth-title {
    font-size: 2rem;
    line-height: 8rem;
  }

  .auto-min-width {
    min-width: auto;
    width: 100%;
  }

  .auth-content-area {
    margin: auto;
    padding: 15px 30px;

    .input-area {
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
    }

    .title {
      border-bottom: 3px solid $basic-green-color;
      font-size: 1.5rem;
      line-height: 2.5rem;
      padding-left: 1rem;
      text-align: left;
    }

    .input {
      font-size: 1.3rem;
      padding: 10px 40px;

      .tag {
        padding: 5px 1rem;
        text-align: left;
      }

      .reset-password-msg {
        font-size: 1rem;
        padding: 5px 1rem;
        text-align: left;

        span {
          color: $basic-green-color;
          cursor: pointer;
          padding-left: .5rem;
          text-decoration: underline;
        }
      }

      .el-input {
        font-size: 1.2rem;
      }
    }

    .signup-msg {
      font-size: 1.1rem;
      line-height: 40px;
      padding-left: 40px;
      text-align: left;

      span {
        color: $basic-green-color;
        cursor: pointer;
        padding-left: .5rem;
        text-decoration: underline;
      }
    }

    .signin-button,
    .signup-button {
      padding-right: 40px;
      text-align: right;

      .el-button {
        padding: 13px 36px;
      }
    }

    .provider-signin {
      margin: auto;
      padding: 15px 30px;

      .sub-title {
        font-size: 1.3rem;
      }

      .auth-button {
        margin: 18px 0;
        max-width: 320px;
        width: 90%;

        &.google-button {
          background-color: $google-signin-button;
          border-color: $google-signin-button;
        }

        &.facebook-button {
          background-color: $facebook-signin-button;
          border-color: $facebook-signin-button;
        }

        .logo-before-text {
          padding-right: .5rem;
        }

        .logo-after-text {
          padding-left: .5rem;
        }
      }
    }


    .signup-button-area {
      margin-top: 16px;
    }
  }

  .register-display-name {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2000;

    .form-area {
      background-color: $basic-light-color;
      border-radius: 12px;
      color: $basic-dark-color;
      padding: 24px;

      .title {
        border-bottom: 3px solid $basic-green-color;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 12px;
      }

      .input {
        padding: 0 36px;

        .tag {
          font-size: 1.3rem;
          line-height: 2.5rem;
          padding-left: 1rem;
          text-align: left;
        }

        .el-input {
          font-size: 1.2rem;
        }
      }

      .submit-button {
        margin-top: 16px;
        padding: 13px 36px;
      }
    }
  }
}
