include ./_mixins

.auth
  .loading-layer(v-loading="displayLoadingLayer")
  .auth-title {{ authTitle }}
  .auth-content-area
    +_siginInView()
    +_signUpView()
    +_confirmSignUpView()
    +_forgotPasswordView()
