@import "../../config/config";

.todo-task {
  background-color: $todo-task-coclor;
  border-radius: 5px;
  box-sizing: border-box;
  color: $basic-dark-color;
  height: 15%;
  margin-bottom: 10px;
  padding: 5px;

  .task-title {
    font-size: 1.1rem;
    padding-left: 1rem;
    text-align: left;
  }
}
