@import "../../config/config";

.todo-task {
  background-color: $todo-task-coclor;
  border-radius: 5px;
  box-sizing: border-box;
  color: $basic-dark-color;
  min-height: 80px;
  margin-bottom: 10px;
  padding: .5rem 1rem;
  position: relative;
  text-align: left;

  .close-form-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
  }

  .task-title {
    border-left: 3px solid $basic-green-color;
    font-size: 1.15rem;
    padding-left: .5rem;
  }

  .task-description {
    padding: 0 2rem;
    word-break: break-all;
  }

  .task-create-user {
    text-align: right;
  }
}
